:root {
    --main-background-color: #FFFFFF;
    --second-color: #4D5AE5;
    --logo-color: #2E2F42;
    --text-color: #434455;
    --hover-color: #404BBF;
    --light-color: #F4F4FD;
}

p,h1,h2,h3,h4 {
    margin: 0;
}

ul {
margin: 0;
padding-left: 0;
}

button {
cursor: pointer;
} 

address {
    font-style: normal;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
    background-color: var(--main-background-color);
}

 .container {
    width: 1470px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    outline: 2px solid red;
}   

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}


/**______________________HEADER________________**/
 
.header {
    background-color: var(--main-background-color);
    padding-top: 26px;
}

.header-container {
    display: flex;
    align-items: center;
    height: 72px;
}

.nav-header {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color); 
    margin-left: 156px;
}

.header-logostudio {
    font-family: 'Raleway' sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--logo-color);
    width: 71px;
    height: 21px;
    margin-right: 76px;
}

.list-header{
    display: flex;
    gap: 40px;
}


.item-header {
    background-color: var(--main-background-color);
}

.link-header {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-color);
}

.link-header:hover {
    color:var(--hover-color);
}

.link-header:focus {
    color: var(--hover-color);
}

.contact-header {
    font-style: normal;
} 

.contact-link  {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    margin-right: 40px;
}

.contact-link:hover {
    color: var(--hover-color);
}

.contact-link:focus {
    color: var(--hover-color);
}



/**_______________HERO_______________**/

.hero {
    background-color: var(--logo-color);
    padding-top: 188px;
    padding-bottom: 188px; 
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-background-color);
    max-width: 496px;
    display: block;
    margin: 0 auto;
}

.hero-btn {
    min-width: 169px;
    height: 56px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--main-background-color);
    background: var(--second-color);
     display: block;
    margin: 0 auto;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-top: 48px;
}

.hero-btn:hover {   
    background-color: var(--hover-color);
}

.hero-btn:focus {
    background-color: var(--hover-color);
}


/**__________________ABOUT_______________**/

.about {
}

.about-list {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 156px;
}

.about-item {    
}

.about-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-color);
}

.about-text {
   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
    width: 264px;
}

/**_______________PRODUCTS_______________**/

.products {
}

.products-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--logo-color);
}

.products-list {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 156px;
}

.products-item {}

/**_______________TEAM_______________**/

.team {
    background-color: var(--light-color);
}

.team-list {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 156px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--logo-color);
}

.team-item {
    background-color: var(--main-background-color);
    width: calc((100% - 60px) / 2);
}

.team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-color);
}

.team-text { 
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}

/**_______________FOOTER_______________**/

.footer {
    background: var(--logo-color);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
    width: 264px; 
    margin-left: 156px;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-color);
    margin-left: 156px;
}

.footer-logostudio {
    width: 71px;
    height: 21px;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
}

/**_______________GALLERY_______________**/

.gallery {}

.hidden-text {}

.filter-list-gallery {
    display: flex;
    gap: 72px;
    align-items: center;
    margin-left: 427px;
    padding: 12px 24px;
    height: 48px;
}

.filter-gallery-item {}

.filter-btn-text {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--second-color);
    background-color: var(--light-color);
    cursor: pointer;
}

.filter-btn-text:hover,
.filter-btn-text:focus {
    background-color: var(--hover-color);
    color: var(--main-background-color);
}

.gallery-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
    align-items: center;
    padding: 156px;
    justify-content: center;
}

.gallery-item {}

.gallery-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-color);
}

.gallery-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-color);
}